@page "/game"
@using GlobalGameJam2025_Bubbles.Components.Layout
@layout AbsoluteLayout

<div class="bg-body-tertiary p-5 rounded" id="game-container">
    @if (_gameViewModel != null)
    {
        @if (_gameViewModel.PalantirImageShown)
        {
            <img src="@_gameViewModel.PalantirPhotoUrl" alt="Palantir" class="rounded-circle img-fluid"
                 id="palantir-image"/>
        }

        @if (_gameViewModel.PalantirBubbleShown)
        {
            <div id="palantir-bubble">
                <p>@_gameViewModel.PalantirText</p>
            </div>
        }

        <img src="@_gameViewModel.EmperorPhotoUrl" alt="Emperor" id="emperor-image"/>

        <strong id="days-counter">@_gameViewModel.DaysCounter</strong>

        <div class="audience-bubbles-container">
            @foreach (var bubble in _gameViewModel.AudienceBubbles)
            {
                <div class="text-center"
                     style="width:@(bubble.Radius * 2)px; height:@(bubble.Radius * 2)px;">
                    <img src="@bubble.AvatarUrl" alt="@bubble.Title"

                         style="width: 100%; height: 100%; object-fit: cover;"/>
                    <p class="mt-2"><strong>@bubble.Title</strong></p>
                    <small class="text-muted">Loyalty: @bubble.Loyalty</small>
                </div>
            }
        </div>
        

        <!-- Tweet Section -->
        <div class="row">
            <div class="col-12 mb-4">
                <div class="card shadow">
                    <div class="card-body">
                        <h5 class="card-title">Tweet</h5>
                        <textarea class="form-control col-xs-12" maxlength="280"
                                  placeholder="Type official reply here. Max lenght 280 characters."
                                  value="@_gameViewModel.Tweet"></textarea>
                        <button class="btn btn-primary"
                                @onclick="Continue">@_gameViewModel.ActionButtonText</button>
                    </div>
                </div>
            </div>
        </div>


        <!-- Comments Section -->
        @if (_gameViewModel.Comments.Any())
        {
            <div class="row">
                <div class="col-12 mb-4">
                    <div class="card shadow">
                        <div class="card-body">
                            <h5 class="card-title">Comments</h5>
                            @foreach (var comment in _gameViewModel.Comments)
                            {
                                <div class="d-flex align-items-start mb-3">
                                    <div>
                                        <h6>@comment.Username</h6>
                                        <p>@comment.BodyText</p>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        }
    }
</div>