@page "/game"
@using GlobalGameJam2025_Bubbles.Components.Layout
@layout AbsoluteLayout

<div class="bg-body-tertiary p-5 rounded" id="game-container">
    @if (_gameViewModel != null)
    {
        @if (_gameViewModel.PalantirImageShown)
        {
            <img src="@_gameViewModel.PalantirPhotoUrl" alt="Palantir" class="rounded-circle img-fluid"
                 id="palantir-image"/>
        }

        @if (_gameViewModel.PalantirBubbleShown)
        {
            <div id="palantir-bubble">
                <p>@_gameViewModel.PalantirText</p>
                <button class="btn btn-success"
                        @onclick="Continue">@_gameViewModel.ActionButtonText</button>
            </div>
        }

        <img src="@_gameViewModel.EmperorPhotoUrl" alt="Emperor" id="emperor-image"/>

        <strong id="days-counter">@_gameViewModel.DaysCounter</strong>

        <div class="audience-bubbles-container text-center">
            @foreach (var bubble in _gameViewModel.AudienceBubbles)
            {
                <div class="text-center audience-bubble"
                     style="max-width:@(bubble.Radius)%;">
                    <img src="@bubble.AvatarUrl" alt="@bubble.Title"
                         style="width: 100%; height: 100%; object-fit: contain;"/>
                    <small class="bubble-loyalty">@(bubble.Loyalty * 10)% (@(bubble.LoyaltyDelta * 10)%)</small>
                </div>
            }
        </div>
   
        <div class="tweet-container">
        <textarea class="form-control col-xs-12" maxlength="280"
                  placeholder="Type official reply here. Max lenght 280 characters."
                  @bind="_gameViewModel.Tweet"></textarea>
            <button id="btn-post-tweet"
                    @onclick="Continue"></button>

        </div>


        <!-- Comments Section -->
        @if (_gameViewModel.Comments.Any())
        {
            var elvenComment = _gameViewModel.Comments.FirstOrDefault(c => c.Username == "Elves");
            var commentOrcs = _gameViewModel.Comments.FirstOrDefault(c => c.Username == "Orcs");
            var dwarvesComment = _gameViewModel.Comments.FirstOrDefault(c => c.Username == "Dwarves");
            var humansComment = _gameViewModel.Comments.FirstOrDefault(c => c.Username == "Humans");

            <span id="comment-elves">@elvenComment?.BodyText</span>
            <span id="comment-orcs">@commentOrcs?.BodyText</span>
            <span id="comment-dwarves">@dwarvesComment?.BodyText</span>
            <span id="comment-humans">@humansComment?.BodyText</span>
        }
    }
</div>